$text-font: "Roboto", "sans-serif";
$title-font: "Montserrat", "sans-serif";

//Lite mode

$main-violet: #572EE5;
$nav-violet: rgba(87,46,229,0.90);
$main-green: #50E3C2;
$bg-lite: #FFFFFF;
$main-dark: #FFFFFF;
$bg-trend-lite: #F3F5F8;
$autocomplete: #9CAFC3;

//Dark mode

$bg-dark: #37383C;

