@import "variables.scss";
@import "mixins.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

.gif-title-ctn{
    display: none;
}

.gif-btn-ctn{
    display: none;
}

button{
    cursor: pointer;
}

//-------------Header-------------------

header{
    border-top: $main-violet solid .3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding: 1.8rem 1rem;
    background-color: $bg-lite;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;

    img{
        font-family: $text-font;
        font-weight: 500;
        cursor: pointer;
    }

    input[type="checkbox"]{
        display: none;

        &:checked ~ nav{
            display: flex;
            flex-flow: column wrap;
            background-color: $nav-violet;
            color: white;
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 11%;
            left: 0rem;
            padding: 10% 0 50% 0;
            z-index: 2;

            ul{
                display: flex;
                flex-flow: column wrap;
                align-content: center;

                li{
                    padding: .5rem;
                    text-align: center;
                    
                    &:after{
                        content: "";
                        display: block;
                        margin: 0 auto;
                        width: 25%;
                        border-bottom: solid 1px white;
                        margin-top: 1rem;
                        opacity: 50%;
                    }
                    &:last-child{
                        display: none;
                    }
                }
            }
        }

        &:checked ~ label{
            .menu-btn{
                display: none;
            }

            .close-btn{
                display: flex;
            }
        }

    }

    label{
        display: flex;
        img{
            align-content: center;
            font-family: $title-font;
            cursor: pointer;
        }
        .close-btn{
            display: none;
        }
    }

    nav{
        font-family: $title-font;
        font-size: 1rem;
        font-weight: 500;
        display: none;
        ul{
            list-style-type: none;
        }
    }
}

//-------------Main---------------------

main{



    background-color: $bg-lite;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;

    .intro{

        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-content: center;

        h1{
            align-self: center;
            width: 76.6%;
            font-family: $title-font;
            color: $main-violet;
            font-size: 1.56rem;
            font-weight: 700;
            text-align: center;
            line-height: 2rem;
            margin: .45rem 0 2rem 0;
            br{
                display: none;
            }
            span{
                color: $main-green;
            }
        }
    
        img{
            width: 72.8%;
            align-self: center;
        }

        .search-bar{

            width: 90%;
            border: 1px solid $main-violet;
            padding: 1rem 1.25rem 1rem 3.5rem;
            font-family: $text-font;
            border-radius: 250px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin-bottom: 2rem;

            .search-ctn{
                
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                width: 100%;

                .search-cross{
                    display: none;
                }
    
                input{
                    border: none;
                    font-size: 1rem;
                    width: 85%;

                    &:focus{
                        border: none;
                    }
                }
    
                img{
                    width: 1.25rem;
                    cursor: pointer;
                }
            }

            #suggestion-ctn{

                margin-top: 1rem;
                // margin-left: -2rem;
                border-top: 1px $autocomplete solid;
                padding-top: 1.2rem;
                width: 100%;

                .suggestion{
                    font-family: $text-font;
                    font-size: 1rem;
                    margin: 0.625rem 0rem;
                    color: $autocomplete;
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
    
                    &::before{
                        display: flex;
                        background-image: url("assets/icon-search.svg");
                    }
    

                }

            }
            
        }

        .trend-title-container{
            font-family: $title-font;
            color: $main-violet;

            margin-bottom: 2.81rem;

            h2{
                text-align: center;
                font-size: 1rem;
                font-weight: 700;
            }
    
            p{  
                padding: 0.32rem;
                text-align: center;
                font-size: 0.85rem;
                width: 60vw;
                line-height: 1.56rem;
                font-weight: 500;
                margin-left: auto;
                margin-right: auto;
                text-transform: capitalize;
            }
        }
    }

    .trending{
        @extend .intro;
        font-family: $title-font;
        color: $main-violet;
        overflow: scroll;
        

        .trends-container{
            overflow: scroll;
            width: 100%;
            background-color: $bg-trend-lite;
            padding: 2.875rem 0 4.125rem 0;

            h2{
                text-align: center;
                font-size: 1.25rem;
                line-height: 1.9rem;
                font-weight: 700;
            }
            p{
                padding: 1rem;
                color: black;
                font-family: $text-font;
                font-size: 1rem;
                text-align: center;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                line-height: 1.44rem;
            }

            .trend-gif-card{

                margin: 2rem 1.3rem 1rem 1.3rem;
            }

            .btn-container{
                display: none;
                .btn{
                    display: none;
                }
            }
            .carrousel-container{
                overflow: scroll;
                scrollbar-width: 0;

                &::-webkit-scrollbar{
                    display: none;
                }

                .carrousel{
                    width: max-content;
                    display: flex;
                    flex-flow: row nowrap;

                    .gif-card{
                        display: flex;
                        flex-flow: row wrap;
                        position: relative;
                        margin: 2rem 1.3rem 1rem 1.3rem;
                    
                        .gif-ctn{
                            height: 10rem;
                            width: auto;
                    
                            .gif{
                                height: 100%;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
        
    }

    .search-results{

        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 100%;

        &::before{
            content: "";
            display: block;
            margin: -1rem auto 0 auto;
            width: 25%;
            border-bottom: solid 1px lightgrey;
            opacity: 100%;
        }

        h2{
            font-size: 2.18rem;
            font-family: $title-font;
            color: $main-violet;
            margin: 3rem 0;
        }

        .search-container{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            .gif-card{
                display: flex;
                flex-flow: row wrap;
                position: relative;
                margin-top: 1rem;
                margin: 0.5rem 0.5rem;
                background-color: lightgray;
            
                .gif-ctn{
                    
                    width: 9.75rem;
                    height: 7.5rem;


                    .gif{
                        height: 100%;
                        width: 100%;
                    }
                }


            }   
        }

        button{
            width: 7.9rem;
            height: 3.125rem;
            color: $main-violet;
            border: 1px solid $main-violet;
            font-size: .7rem;
            font-weight: bold;
            font-family: $title-font;
            background-color: white;
            border-radius: 25px;
            margin: 4.9rem 0;
            letter-spacing: 0;
        }
    }

    .hidden{
        display: none;
    }
}

footer{

    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: .5rem 0 1rem 0;
    border-bottom: $main-violet solid .3rem;

    .share{
        display: flex;
        flex-flow: column wrap;
        align-content: center;

        h3{
            font-size: 1rem;
            font-family: $text-font;
            font-weight: 400;
        }

        div{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-top: 2rem
        }
    }

    h3{
        margin-top: 3rem;
        font-family: $text-font;
        font-weight: 400;
        font-size: .9rem;
    }
}

